%div{class: 'container my-content', id: 'eval-interface'}
  %div{class: 'alert alert-info', id: 'detected-objects-container'}
    Objects:
    %span{id: 'detected-objects'}
  %div{class: 'col-xs-12 image-viewport', id: 'image-query'}
    %img{name: 'image-query-img', class: 'image-img center-block'}
  %div{class: 'col-xs-12 image-viewport', id: 'image-target'}
    %img{name: 'image-target-img', class: 'image-img center-block'}
  %div{class: 'col-xs-12 eval-response'}
    %div{class: 'row'}
      %div{class: 'col-xs-6'}
        %button{type: 'button', class: 'btn btn-danger btn-block btn-response btn-lg', id: 'response-bad'} Bad
      %div{class: 'col-xs-6'}
        %button{type: 'button', class: 'btn btn-success btn-block btn-response btn-lg', id: 'response-good'} Good

%div{class: 'container my-content', id: 'eval-intro'}
  %h3{class: 'text-center'} Subjective Image Retrieval Test
  %hr
  %p Welcome to Subjective Image Retrieval Test. In this test, we are attempting to evaluate the accuracy of our image retrieval algorithm.

  %p 
    You will be presented with 2 images, the top one being a query image, and the bottom one being the retrieved image. We need your help to subjectively determine whether the retrieved image is relevant to the input query image. Two images are relevant if:
    %ul
      %li They contain (almost) identical objects
      %li The objects in the pictures are performing similar activities (eating, sitting, driving, flying)

  %p
    Your response will be recorded anonymously and will be used to improve our algorithm. You can end the test anytime you want.

  %hr
  %button{type: 'button', class: 'btn btn-success btn-block btn-large', id: 'eval-begin'} Begin

= stylesheet_link_tag 'style'
= stylesheet_link_tag 'animate'
= javascript_include_tag 'layout/layout'
= javascript_include_tag 'evals/evals'

:javascript
  layout.attach();
  evals.attach();