.btn-response {
  display: none;
}

.image-viewport {
  border: 1px solid #383838;
  margin-top: 1em;
}

.eval-response {
  margin-top: 1em;
}

.image-img {

}

.img-cell {
  width: 160px;
  //max-height: 160px;
}

#content-img-json {
  max-height: 320px;
  overflow-y: scroll;
}