%table{class: 'table'}
  %thead
    %tr
      %th #
      %th ID
      %th Google
      %th Domain
  %tbody
    - @data.each_with_index do |r, i|

      %tr
        %td= i+1
        %td= r['coco_id']
        %td
          - smart_compare_then_print_diff r['google'], r['google_raw']
        %td
          - smart_compare_then_print_diff r['domain'], r['domain_raw']

= stylesheet_link_tag 'style'